gris_oscuro=#433
naranja=#DD4F24
body
	background #E8E8E8
	color gris_oscuro
	font-family Verdana
	font-size 16px

header
	background gris_oscuro
	color white
	padding 0.7em
	position relative

	.logo
		border-right 1px solid blue
		float left
		width 60px
		img
			width 52px

	.titular
		margin 0 80px 0 70px
		.titulo
			font-size 20px
			font-weight normal
			margin 0
			padding 0

	.usuario
		position absolute
		top 0 px
		right 0px
		.avatar
			marging 0 1em 0 0
			position relative
			z-index 2
			img
				width 60px
				border-radius 50%
		.flechita
			background naranja
			color white
			display block
			padding 3px
			position absolute
			rigth 0
			top 15px
			text-aling right
			width 50%

nav
	background lightblue